---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

Polytech Nantes (2022-2023)
====

* Machine Learning for Computer Vision ([Visual Computing Master](https://polytech.univ-nantes.fr/fr/les-formations/masters-internationaux/visual-computing-masters-degree-vico))
* Perceptual Computing ([Visual Computing Master](https://polytech.univ-nantes.fr/fr/les-formations/masters-internationaux/visual-computing-masters-degree-vico))
* Data 2 ([Master Cultures Numériques](https://mcn.univ-nantes.fr/))

ESIR (2018-2020)
====

* Artificial Intelligence (

ISTIC (2018-2020)
====

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
